
html,body{margin:0;padding:0}

/* ########## F O N T S ############# */
@font-face {font-family: LithosPro-Black;src: url("../Fonts/LithosPro-Black.otf");}
@font-face {font-family: LithosPro-Bold; src: url("../Fonts/LithosPro-Bold.otf");}
@font-face {font-family: LithosPro-ExtraLight;src: url("../Fonts/LithosPro-ExtraLight.otf");}
@font-face {font-family: LithosPro-Light; src: url("../Fonts/LithosPro-Light.otf");}
@font-face {font-family: LithosPro-Regular;  src: url("../Fonts/LithosPro-Regular.otf");}

/* ########## C O L O R S ############# */
:root {
  --wheelCenter: rgb(0,152,119);
  --myYellow:rgb(255,208,0);
  --myGrey:rgb(200,200,200);
  --myPink:rgb(255, 146, 153);
  --myBlack:rgb(0, 0, 0);
  --colorP1:rgb(182,105,224); /* color of Player 1 */
  --colorP2:rgb(35,255,255); /* color of Player 2 */
  --colorP3:rgb(255,94,0); /* color of Player 3 */
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: LithosPro-Regular;
  font-size: 1em;
  color: antiquewhite;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: LithosPro-Regular;
  font-size: 1em;
  color: antiquewhite;
}
/* <!-- Main BOX --> */
.box0 {
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(aqua, rgb(71, 109, 67), green); */
  display: flex;
  flex-direction: column;
}
/* <!-- Logos BOX --> */
.box1 {
  width: 100vw;
  height: 12%;  
  background-color: var(--wheelCenter);
  display: flex;
  flex-direction: row;
  /* justify-content: center;  */
  /* justify-items: flex-end; */
  /* justify-content: space-around; */
}
/* <!-- Puzzle BOX --> */
.box2 {
  width: 100vw;
  height: 45vh;  
  background-color: var(--wheelCenter);
  /* background-color: blueviolet; */
}
/* <!-- Points and Wheel wrapper BOX --> */
.box3 {
  width: 100vw;
  height: 35%;  
  background-color: rgb(0,152,119);
  background-color: var(--wheelCenter);
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  
}
/* <!-- Footer Menu BOX --> */
.box4 {
  width: 100vw;
  height: 3%;  
  background-color: var(--wheelCenter);
  text-align: right;
}
.box4 p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.5em;

}
.box3PA {
  width: 70%;
  height: 100%;  
  /* background-color: rgb(59, 27, 88); */
  background-color: var(--wheelCenter);
}
.box3P {
  width: 100%;
  height: 40%;  
  /* background-color: royalblue; */
  background-color: var(--wheelCenter);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start
}
.box3A {
  width: 100%;
  height: 50%;  
  /* background-color: rgb(25, 95, 40); */
  background-color: var(--wheelCenter);
}
.box3W {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 0 0 0 59px;
  position: relative;
}

.box3Wcircle{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  /* background-image: url(../Images/WOF_001-small.png); */
  background-color: rgb(74, 72, 77);
  margin: 0 auto;
  background-size: cover;
}

.box3Wcircle img {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}
#spin{
  font-family: LithosPro-Regular;
  font-size: 1em;
  width: 5em;
  height: 4em;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(60deg);
  position: absolute;
  bottom: 19px;
  left: -48px;
  padding: 2em 0;
  /* border: 3px solid green; */

}



/* ############################################################## */
/* ########### KEY FRAMES - Wheel spinning ###################### */
/* ############################################################## */
/* #spinWheel{ */
  /* animation-fill-mode: forwards; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: keepRotate 7s infinite linear; */
  /* animation: keepRotate 7s ease-out; */
  /* animation-iteration-count: 3; */
  /* animation: keepRotate 7s 1 ease-out forwards; */
 
/* } */
/* #spinWheel:hover { */
  /* animation-play-state: paused; */
/* } */
/* @keyframes keepRotate{ */
    /* 0% { transform: rotateZ(0deg); } */
    /* 100% { transform: rotateZ(500deg); } */
/* } */

/* ############################################################## */
/* ########### KEY FRAMES - 3D rotating logo - axis y ########### */
/* ############################################################## */
/* ############# rotation Wheel of Fortune Logo   ############### */
#rotoLogo{
  z-index: 9999;
  position: absolute;
  margin: 1.2em auto;
  top:0;
  left:10px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 15%;
}
.smallLogo{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: keepRotate 7s infinite linear;
}
.smallLogo:hover {
  animation-play-state: paused;
}
#rotoLogo img{
  width: 15vmin;
  height: auto;
}
/* ############################################################## */
/* ########### KEY FRAMES - 3D rotating logo - axis x ########### */
/* ############# rotation Jeopardy Logo   ############### */
#rotoJeop{
  z-index: 9999;
  /* position: relative; */
  /* position: sticky; */
  position: absolute;
  right: 0px;
      /* top left  */
  margin: .2em .5em;
  top:0;
  /* right:100px; */
  /* display: flex; */
  /* flex-direction: row; */
  height: 80%;
  width: 22%;
  /* width: auto; */
  float:right;
}
.smallJeop{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: keepRotateJeopardy 7s infinite linear; */
  animation: flashJeopardy 7s infinite linear;
}
.smallJeop:hover {
  animation-play-state: paused;
}
#rotoJeop img{
  height: 12vh;
  width: auto;
}


@keyframes keepRotate{
    /* 0% { transform: rotateY(0deg); } */
    100% { transform: rotateY(360deg); }
}
@keyframes keepRotateJeopardy{
  /* 0% { transform: rotateX(0deg); } */
  100% { transform: rotateX(360deg); }
}
@keyframes flashJeopardy{
                       /* X, Y */
  0% { transform: scale(1.2, 0.9); }
  50% { transform: scale(0.9, 1.2); }
  100% { transform: scale(1.2, 0.9); }
}
/* ################################################ */
.box1a{
  height: 100%;
  /* width: auto; */
  width: 10%;
}
.logoWOJ{
  height: 100%;
  /* width: auto; */
  width: 70%;
}
.logoWOJ img{
  height: 100%;
  width: auto;
}

/* ############################################################## */
/* ############ styling PUZZLE  ################################# */
/* ############################################################## */
.puzzleChar{
  position: absolute;
  border-radius: 4px;
  background-color: var(--myYellow);
  box-shadow: 4px 4px var(--myBlack);
}
/* ############################################################## */
/* ############  styling PLAYERs  ############################### */
/* ############################################################## */
.player{
  /* position: absolute; */
  width: 128px;
  height:100px;
  border-radius: 4px;
  box-shadow: 4px 4px var(--myBlack);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.player h1{
  color: var(--myBlack);
  font-size: 1em;
  text-shadow: 1px 1px var(--myGrey);
}
#p1{
  background-color: var(--colorP1);
}
#p2{
  background-color: var(--colorP2);
}
#p3{
  background-color: var(--colorP3);
}
.points{
  width: 100px;
  height:32px;
  border-radius: 4px;
  background-color:white;
}
#p1{

}
#p2{
 
}
#p3{

}



/* ############################################################## */
/* ############ styling ALPHABET  ############################### */
/* ############################################################## */
.box3A {
  color:black;
  font-family: LithosPro-Regular;
  font-size: 2em;
  text-align: center;
  line-height: 64px;
}
.box2{
  color:black;
  font-family: LithosPro-Regular;
  font-size: 3em;
  text-align: center;
  line-height: 64px;
}

.vowel{
  /* position: relative; */
  position: absolute;
  border-radius: 4px;
  background-color: var(--myPink);
  box-shadow: 4px 4px var(--myBlack);
}
.vowelUsed{
  color: var(--myPink);
}
.alpha{
  /* position: relative; */
  position: absolute;
  border-radius: 4px;
  background-color: var(--myGrey);
  box-shadow: 4px 4px var(--myBlack);
}
.alphaUsed{
  color: var(--myGrey);
}

